
 /*====================== 02. Header ======================*/
header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  background-color: #222;
  z-index: 100;
}

 #logo {
  float: left;
}

 .nav {
  float: right;
}

 .nav li {
  display: inline-block;
}

 .nav li a {
  color: #fff;
  text-transform: capitalize;
  display: block;
  padding: 10px 12px;
}
